/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	/* по умолчанию */
	/* font-size: 16px;  */
}
body {
	line-height: 1;
	font-family: "Roboto";
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ------------------------------ */
.main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}
/* ------------------------------ */
/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}
@media (max-width: 479.98px) {
}
/* ------------------------------ */
.header {
}
.doggie {
	background: url("../img/mainpage/doggie-top/icons/BG-Image-1.jpg") 0 0 / cover no-repeat;
}
.doggie__top {
	padding: 25px 0px 27px 0px;
}
.doggie__body {
	padding-bottom: 312px;
}
.doggie__header {
	margin: 0px -30px;
	display: flex;
	flex-wrap: wrap;
}
.doggie__logo-box {
	padding: 0px 30px;
	display: flex;
	flex: 1 1 auto;
	gap: 11px;
}
.doggie__logo {
	max-width: 40px;
	max-height: 42px;
}
.doggie__main-title {
	align-self: center;
	color: #fff;
	font-size: 24px;
	font-weight: 900;
}
.doggie__main-title a:visited {
	color: #fff;
}
.about-us {
	padding: 0px 30px;
	display: flex;
	margin: 0px -10px;
	font-size: 12px;
	line-height: 1.83;
	letter-spacing: 0.15px;
	color: #fff;
	font-weight: 500;
}
.about-us__icon {
	padding: 0px 10px;
}
.about-us__dec {
}
.about-us__textbox {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
}
.about-us__title {
}
.about-us__text {
}
.doggie__contacts {
}
.button-doggie {
	background-color: #f2726f;
	padding: 8px 35px;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	max-height: 40px;
}
.button-doggie:hover {
	background-color: #cc5b59;
}
.button-doggie_height {
	padding: 14px 35px;
}
.doggie__navigation {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 40px;
	margin: 0px 0px 126px 0px;
}
.doggie__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -18px;
	align-items: center;
}
.doggie__item {
	padding: 0px 18px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.57;
	display: flex;
	letter-spacing: 0.15px;
	justify-content: flex-end;
}
.doggie__item a {
	color: #000;
}
.doggie__item a:hover {
	color: rgba(0, 0, 0, 0.5);
}
.doggie__item a:visited {
}
.doggie__item_last {
	display: flex;
	flex: 1 1 auto;
	gap: 26px;
}
.doggie__arrow {
	padding: 8px 5px;
}
.doggie__search {
}
.doggie__cart {
}
.doggie__bottom {
	display: flex;
	flex-direction: column;
	row-gap: 48px;
}
.doggie__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 1;
	color: #fff;
	max-width: 57%;
}

@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
	.doggie__body {
		padding-bottom: 180px;
	}
	.doggie__header {
		justify-content: flex-end;
		row-gap: 10px;
	}
}
/* Условные мобилки */
@media (max-width: 767.98px) {
	.doggie__header {
		justify-content: flex-end;
		margin: 0px -40px;
	}
	.about-us {
		padding: 0px 40px;
	}
}
@media (max-width: 479.98px) {
	.doggie__body {
		padding-bottom: 100px;
	}
	.doggie__header {
		flex-direction: column;
		gap: 5px;
	}
	.doggie__list {
		flex-direction: column;
		align-items: flex-start;
		position: relative;
	}
	.doggie__item_last {
		position: absolute;
		right: 0;
	}
	.doggie__navigation {
		margin: 0px 0px 50px 0px;
	}
	.doggie__title {
		max-width: 85%;
		font-size: 36px;
	}
}
/* ------------------------------ */
.who-we-are {
}
.who-we-are__container {
}
.who-we-are__body {
	background: #5d62b5;
	border-radius: 40px;
	margin: -11% 0px 170px 0px;
	padding: 100px 87px 0px 87px;
	position: relative;
}
.who-we-are__body::before {
	content: "";
	display: inline-block;
	width: 17.64%;
	height: 280px;
	background: url("../img/mainpage/who-we-are/bg2.svg") 0 0 repeat;
	position: absolute;
	right: -6.5%;
	top: -14.5%;
}
.who-we-are__title {
}
.titles {
}
.titles__main {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #f5f5f5;
	margin: 0px 0px 33px 0px;
}
.titles__main::before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 20px;
	background: url("../img/mainpage/who-we-are/white-mark.svg") 0 0 no-repeat;
	padding: 0px 0px 0px 32px;
	transform: translate(0, 2px);
}
.titles__sub {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	margin: 0px 0px 36px 0px;
	color: #fff;
	max-width: 583px;
}
.titles__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #f5f5f5;
	margin: 0px 0px 54px 0px;
}
.who-we-are__picture {
	border: 1px solid transparent;
	max-width: 846px;
	margin: 0px auto;
	position: relative;
	z-index: 0;
}
.who-we-are__picture::after {
	content: "";
	display: inline-block;
	width: 80%;
	height: 155%;
	background: url("../img/mainpage/who-we-are/bg1.svg") 0 0 / cover no-repeat;
	position: absolute;
	bottom: 0;
	left: -11%;
	z-index: -1;
}
.who-we-are__pic {
	border-radius: 40px;
	width: 100%;
	margin: 0px 0px -17.14% 0px;
}
@media (max-width: 1050px) {
	.who-we-are__body::before {
		right: -5.1%;
	}
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}
@media (max-width: 479.98px) {
	.who-we-are__body {
		padding: 50px 50px 0px 50px;
		margin: -11% 0px 40px 0px;
	}
	.who-we-are__body::before {
		display: none;
	}
	.titles__sub {
		font-size: 24px;
	}
	.titles__text {
		font-size: 14px;
		margin: 0px 0px 24px 0px;
	}
}
/* ------------------------------ */
.dog-play {
	background: #29c3be;
	position: relative;
}
.dog-play::before {
	content: "";
	width: 367px;
	height: 235px;
	background: url("../img/mainpage/dog-play/bg1.svg") 0 0 / cover no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.dog-play::after {
	content: "";
	display: inline-block;
	width: 600px;
	height: 388px;
	background: url("../img/mainpage/dog-play/bg2.svg") 0 0 no-repeat;
	position: absolute;
	top: 0px;
	right: 8.2%;
	z-index: 1;
}
.dog-play__container {
}
.dog-play__body {
	display: flex;
	flex-wrap: wrap;
}
.dog-play__body::after {
	content: "";
	display: inline-block;
	width: 115px;
	height: 115px;
	background: url("../img/mainpage/dog-play/bg3.svg") 0 0 / cover no-repeat;
	position: absolute;
	top: 110px;
	right: 5.5%;
	z-index: 2;
}
.dog-play__body::before {
	content: "";
	display: inline-block;
	width: 180px;
	height: 250px;
	background: url("../img/mainpage/who-we-are/bg2.svg") 0 0 repeat;
	position: absolute;
	left: 0.69%;
	bottom: 10%;
	z-index: 1;
}
.dog-play__block {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	gap: 42px;
}
.dog-play__block_bottom {
	align-self: flex-end;
}
.dog-play__block_padding {
	padding: 112px 0px 169px 72px;
}
.dog-play__image {
	max-width: 744px;
	position: relative;
	border: 1px solid transparent;
}
.dog-play__img {
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: top;
}
.dog-play__item {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #fff;
}

.dog-play__title {
	max-width: 411px;
	position: relative;
	z-index: 3;
}
.dog-play__item_1 {
	position: relative;
}
.dog-play__button {
	padding: 18px 34px;
	position: relative;
	z-index: 3;
}
.button-doggie {
}
/* ------------------------------ */
/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {
}
/* Условные планшеты */
@media (max-width: 991.98px) {
}
/* Условные мобилки */
@media (max-width: 767.98px) {
}
@media (max-width: 479.98px) {
	.dog-play__body {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.dog-play__block_padding {
		padding: 50px 0px 50px 20px;
	}
	.dog-play__body::before {
		display: none;
	}
	.dog-play::before {
		display: none;
	}
	.dog-play__body::after {
		width: 90px;
		height: 90px;
		right: 4.5%;
		top: 125px;
	}
	.dog-play__title {
		font-size: 24px;
		max-width: 290px;
	}
	.dog-play__button {
		padding: 14px 20px;
	}
}
